name: Nightwatch CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies-3
      run: npm init -y

    - name: Install dependencies-4
      run: npm install nightwatch

    - name: Install Google Chrome
      run: |
          sudo apt-get update
          sudo apt-get --yes install xvfb google-chrome-stable
          npm uninstall -g chromedriver
          npm install chromedriver@110.0.0
    - name: Install Chromedriver
      run:
          npm install chromedriver@110.0.0

    - name: Install npm
      run:
          npm install 

    - name: Start Xvfb
      run: Xvfb -ac :99 -screen 0 1280x1024x16 &

    - name: Test verification1
      run:  echo "google-chrome" && google-chrome --version

    - name: Test verification2
      run:  echo "chromedriver" && chromedriver --version

    - name: Test verification3
      run:  echo "npm" && npm --version

    - name: Test verification4
      run:  echo "node" && node --version

    - name: Run Nightwatch tests
      run: npx nightwatch Tests/TS01-TC01-test-connexion.js