name: Nightwatch CI

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x] 
    steps:
      - name: Install sudo
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
        run: |
          apt-get update && \
          apt-get install -y sudo
      - name: Update apt-get
        run: sudo apt-get update
      - name: Install curl, gnupg, xvfb and libnss3
        run: |
          apt-get update -q -y && \
          apt-get install -yq curl gnupg xvfb libnss3
      - name: Install Google Chrome
        run: |
          apt-get update && \
          apt-get install -y sudo wget xvfb && \
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | apt-key add - && \
          echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" > /etc/apt/sources.list.d/google-chrome.list && \
          apt-get update && \
          apt-get --yes install google-chrome-stable
      - name: Install dependencies
        run: |
          npm install && \
          npm install nightwatch && \
          npm install chromedriver@110.0.0
      - name: Start Xvfb
        run: Xvfb -ac :99 -screen 0 1280x1024x16 &
      - name: Run Nightwatch tests
        run: npx nightwatch Tests/TS01-TC01-test-connexion.js