name: Build and Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ '14.x' ]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm install
           npm install nightwatch 
    - name: Install Google Chrome
      run: |
        sudo apt-get update
        sudo apt-get --yes install xvfb google-chrome-stable
    - name: Install ChromeDriver
      run:  npm uninstall -g chromedriver
            npm install chromedriver@110
    - name: Set up virtual display
      run: |
        sudo apt-get update -q -y
        sudo apt-get --yes install xvfb
        Xvfb -ac :99 -screen 0 1280x1024x16 &
        export DISPLAY=:99

  test-connexion:
    needs: build
    - name: Run test-connexion
      run: npx nightwatch Tests/TS01-TC01-test-connexion.js
  test-micro:
    needs: build
    - name: Run test-micro
      run: npx nightwatch Tests/TS02-TC01-test-micro.js
  test-cam:
    needs: build
    - name: Run test-cam
      run: npx nightwatch Tests/TS03-TC01-TC02-test-cam.js
