name: Nightwatch CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies-2
      run: sudo apt-get update

    - name: Install dependencies-3
      run: npm init -y

    - name: Install dependencies-4
      run: npm install nightwatch

    - name: Install Google Chrome
     
      run:    sudo apt-get update 
      run:    sudo apt-get install -y sudo wget

      run:    sudo apt-get update 
      run:    sudo apt-get install -y xvfb

      run:    sudo wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | apt-key add -
      run:    sudo echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" > /etc/apt/sources.list.d/google-chrome.list

      run:    sudo apt-get update 
      run:    sudo apt-get --yes install google-chrome-stable

    - name: Install Chromedriver
      run:
          npm install chromedriver@110.0.0

    - name: Install npm
      run:
          npm install 

    - name: Start Xvfb
      run: Xvfb -ac :99 -screen 0 1280x1024x16 &

    - name: Test verification1
      run:  echo "google-chrome" && google-chrome --version

    - name: Test verification2
      run:  echo "chromedriver" && chromedriver --version

    - name: Test verification3
      run:  echo "npm" && npm --version

    - name: Test verification4
      run:  echo "node" && node --version

    - name: Test verification4
      run:  echo "nightwatch" && nightwatch --version

    - name: Run Nightwatch tests
      run: npx nightwatch Tests/TS01-TC01-test-connexion.js