name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  TS01-TC01-test-connexion:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update -q -y
          sudo apt-get --yes install xvfb
          npm init -y
          npm install nightwatch

          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google.list
          sudo apt-get update
          sudo apt-get --yes install google-chrome-stable
          npm install chromedriver@110
          Xvfb -ac :99 -screen 0 1280x1024x16 &
          export DISPLAY=:99
          npx nightwatch Tests/TS01-TC01-test-connexion.js
  