name: Nightwatch CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: apt-get update -q -y
      run: apt-get --yes install xvfb
      run: npm init -y
      run: npm install nightwatch

    - name: Install Google Chrome
      run: |
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub |  apt-key add -
          sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
          apt-get update -q -y
          apt-get -y install google-chrome-stable 

    - name: Install Chromedriver
      run:
          npm install chromedriver@110

    - name: Start Xvfb
      run: Xvfb -ac :99 -screen 0 1280x1024x16 &

    - name: Test verification1
      run:  echo "google-chrome" && google-chrome --version

    - name: Test verification2
      run:  echo "chromedriver" && chromedriver --version

    - name: Test verification3
      run:  echo "npm" && npm --version

    - name: Test verification4
      run:  echo "node" && node --version

    - name: Test verification5
      run:  echo "nightwatch" && nightwatch --version

    - name: Run Nightwatch tests
      run: npx nightwatch Tests/TS01-TC01-test-connexion.js