name: Node.js CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Install Chrome and ChromeDriver
      run: |
        sudo apt-get update
        sudo apt-get --yes install xvfb google-chrome-stable
        npm install chromedriver@110.0.0

    - name: Start Xvfb
      run: Xvfb -ac :99 -screen 0 1280x1024x16 &

    - name: Test connection
      run: npx nightwatch Tests/test1.js
