name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test_connexion:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install Dependencies
      run: |
        sudo apt-get update -q -y
        sudo apt-get --yes install xvfb
        npm init -y
        npm install nightwatch
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google.list
        sudo apt-get update
        sudo apt-get --yes install google-chrome-stable
        npm install chromedriver@110
        npm install
         ./node_modules/.bin/chromedriver --version
        ./node_modules/.bin/nightwatch --version
        /usr/bin/google-chrome --version
        Xvfb -ac :99 -screen 0 1280x1024x16 &
        export DISPLAY=:99
    - name: TS01-TC01-test-connexion
      run: npx nightwatch Tests/TS01-TC01-test-connexion.js
    - name: TS01-TC02-test-connexion
      run: npx nightwatch Tests/TS01-TC02-test-connexion.js
